* {
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
  }
  
  body {
    font-family: "Jost", sans-serif;
  }
  
  summary {
    display: block;
  }
  
  summary::-webkit-details-marker {
    display: none;
  }
  
  .center {
    padding-left: calc(50% - 610px);
    padding-right: calc(50% - 610px);
  }

  .info {
    padding-top: 120px;
    display: flex;
    flex-direction: column;

    &__about {
      display: flex;
      flex-direction: column;
      gap: 40px;

      &__text {
        font-size: 30px;
        font-weight: 400;
        line-height: 48px;
        text-align: left;
        color: #141024;

        &_span {
          font-weight: 600;
        }

      }
    }
  }

